<v-avatar :image="image" size="200"></v-avatar>
<h1 class="text-3xl font-bold">{{username}}</h1>
<small class="text-xl italic" >Octavio Martínez</small>
<span class="text-center  md:w-1/2 w-10/12" >{{ translate.description }}</span>
<h2 class="text-2xl font-bold">{{ translate.links }}</h2>
<div class="flex md:flex-row gap-5 flex-col">
    <v-btn
        v-for="link in links"
        variant="outlined"
        target="_blank"
        class="w-[200px] font-normal"
        :href="getLink(link.url)"
        :prepend-icon="link.icon">
        {{ link.label }}
    </v-btn>
</div>
<h2></h2>

<div class="absolute top-[20px] right-[20px] ">
    <v-menu>
        <template v-slot:activator="{ props }">
            <v-btn color="primary" v-bind="props">{{currentLang}}</v-btn>
        </template>
        <v-list>
            <v-list-item v-for="item in langs" @click="()=>changeLang(item)" >
                <v-list-item-title>{{item}}</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-menu>
</div>