.container-root {
    height: 100vh;
}
.flex{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}
.f-column{
    flex-direction:column;
}
.f-row{
    flex-direction:row;
}

.lang-toggle{
    position: absolute;
    top:20px;
    right:20px;
}

.m-5{
    margin-top:5px;
    margin-bottom:5px;
}